<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="navClass"   ><a class="tabClass"  (click)="onClickLink('about')" >ABOUT</a></li>
            <li class="navClass"   ><a class="tabClass"  (click)="onClickLink('tutorials')">PROFESSIONAL</a></li>
            <li class="navClass"   ><a class="tabClass"  (click)="onClickLink('testimonial')">PORTFOLIO</a></li>
            <li class="navClass"   ><a class="tabClass"  (click)="onClickLink('contact')">CONTACT</a></li>
          </ul>
        </div>
    <div  class="navbar-header" id="nav-barId">
      <button type="button" (click)="onClickMe()" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <!-- <a class="navbar-brand" href="#about" (click)="onSelect('about')">Logo</a> -->
    </div>
  
  </div>
</nav>
