<div  id="ngDiv">

  <div  class=" about-image bg" > </div>  
  <div  class="container about">
      

              <div class="row explore">
                      <div class="col-sm-4  image img1" > </div>      
                      <div class="col-sm-12 col-lg-8 about-article " > 
                              <a routerLink="/exp/dv" class="underline"> 
                              <h2>Be the boss of your data: Learn how to set up data streaming analytics from kafka.</h2>
                              </a> 
                              <div>
                                  Think about to take control and free yourself from license or vendor fees for obtaining your users UI experience data.
                                  You will learn how Kafka messaging node stream your clickstream data to perform analytics in visualizing tool like Grafana 
                                  and persist it to AWS S3 data lake where 
                                  we will query data in Athena using AWS Glue database.
                              </div>
                              <div class="col-sm-12 right">
                                <button type="submit" class="  col-sm-3  button btn btn-light" routerLink="/exp/dv"
                                >read more</button>
                              </div>           
                      </div>
              </div>
                <!-- https://www.freecodecamp.org/news/scalable-data-analytics-pipeline/ -->
                        <!-- https://towardsdatascience.com/4-easy-steps-to-setting-up-an-etl-data-pipeline-from-scratch-a6e67c40b6e1
                      https://databricks.com/session_eu19/modern-etl-pipelines-with-change-data-capture -->


              <div class="row explore">
                  <div class="col-sm-4  image img2" ></div>      
                  <div class="col-sm-12 col-lg-8 about-article " > 
                    <a routerLink="/exp/dbz" class="underline"> 
                      <h2> What is a modern streaming pipeline with CDC integration looks like?</h2>
                    </a> 
                      <div>
                        Have you ever wonder to run ETL infinite times a day @ no cost,
                            giving users a fresh info @ real time, and constantly evolving operational data without protecting long nights of sleep. 
                            I will walk through how to use Debezium to monitor a your database changes and 
                            you will see the resulting event streams in Kafka pipeline. Here is what we learned.
                      </div>
                      <div class="col-sm-12 right">
                        <button type="submit" class="  col-sm-3  button btn btn-light" routerLink="/exp/dbz"
                        >read more</button>
                      </div>           
                  </div>
              </div>

          
              <div class="row explore">
                    <div class="col-sm-4  image img3" > </div>      
                  <div class="col-sm-12 col-lg-8 about-article " > 
                    <a routerLink="/exp/seo" class="underline"> 
                      <h2>Who's most important, CEO or SEO?</h2>
                    </a> 
                      <div>
                          We all understand how important SEO performance of our pages. Here we will explore to develope and consume multiple micro frontend web components bundle in a single script. 
                          This is a great way to render reusable widgets dynamically during runtime that can be embedded in websites.
                          You are looking at this page along with all the subsequent pages that are componotized and you can do it too with 
                          a small piece of code snippet.
                      </div>                                          
                        <div class="col-sm-12 right">
                          <button type="submit" class="  col-sm-3  button btn btn-light" routerLink="/exp/seo"
                          >read more</button>
                        </div>


                  </div>
                                
            </div>   
  </div>   

 
</div>



