<!-- Container (About Section) -->
<div id="about" class="container-fluid" >
  <div class="row">
    <div class="col-sm-8">
      <h2>My Education and Qualification</h2>
      <div>
        
         <p> Software Engineering Technology Advanced Diploma, Centennial College, Toronto, Canada. <br>
          Electronics and Communication Engineering Degree, RGTUniversity, Bhopal, India.<br>
          <!-- <strong>Key Courses:</strong> Developing Web App, ERP, Web Services, Software Development Lifecycle, Object-Oriented Programming, Software Testing.
          -->
          </p>
          <ul>
          <li><p>Experienced in developing applications, prioritize task and manage workloads.</p></li>
          <li><p>Strong analytical and problem-solving abilities. Quick learner with minimal supervision.</p></li>
          <li><p>Strong written, visual and oral communications, own task with responsibility.	 </p></li>
          <li><p>Attention to details, eager to learn new technology, initiative, proactively think new ideas.</p></li>
          <li><p>Quickly grasp complex software system workflow and possess good documentation.</p></li>
          <li><p>Enjoy my work, ambitious, quickly adapt to fast pace environment, fearless troubleshoot. </p></li>
          <li><p>Good customer rapport building and collaboratively work with team and independently.</p></li>
          <li><p>I love to share education with my peers. I leverage team spirit and individual performance.</p></li>
          <li><p>I am technology enthusiast and fun loving person, my understanding on coding is language independent. </p></li> 
          <!-- <li><p> I love to learn new technology with the changing business needs.</p></li>        -->
         
    
        </ul>
      </div>
      
    
    </div>
    <div class="col-sm-4" style="text-align:center">
      <span class="glyphicon glyphicon-education logo"></span>
    </div>
  </div>



  <!-- <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">

    </div>
  </div> -->
</div>
