<!-- Container (About Section) -->
<div id="about" class="container-fluid" >
  <div class="row">
    <div class="col-sm-8">
      <h2>About Company Page</h2><br>
      <h4>Solusions is an ISO 9001:2008 Certified Pathankot based company that helps to clients to turn their ideas into remarkable ERP solutions. We are specialist in providing solutions for the Pharmaceutical Industry, Customized software solutions & IT services. We create technology and drive it as our passion. We developed lot many popular software including pharmaceutical software (for chemists, C&F, manufacturing companies) for complete pharmaceutical trade, excise & retail software, Online Trading & Jeweler software, Mandi Software. Schooling and Colleges software. After proving our caliber in software development, now we are marking our presence in Internet solutions, IT industry & complete business consulting.</h4><br>
      <p>eZee ver 10.1(Sabji Mandi ERP Software)</p>
      
<br>
<a class="btn btn-default btn-lg" href="D:\MandiSetup12112017\Mandisetup\Mandisetup\Debug\setup.exe">Download</a>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>

<hr>

  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h2>Feature of eZee ver 10.1</h2><br>
      <h4>eZee ver. 10.1 is an Accounting ERP application developed to fulfill the key requirements of fruit and vegetable merchants in India. It Cover whole accounting requirements of above said users. Covers all accounting transactions like customers accounts, Suppliers Accounts, voucher entry, ledgers, customer out standings, supplier outstandings, sale and purchase registers ,profit and loss reports, Crate management ,wataks and loading. </h4><br>
      <p><strong>1:</strong> eZee ver 10.1 is a multiuser ERP application or can run on individual computer also.</p>
<p><strong>2:</strong> Have ability to prints reports on laser printer or in DOS format in continuous stationary in dot-matrix printers.</p>

<p><strong>3:</strong> eZee ver 10.1 is very easy to operate it have three modules that are as under:-</p>
<ul>
<li>If the customer need only to operate customers bills and crate its separate module.</li>
<li>If the customer need only to operate customers bills, crate, wataks and loading its seprate module.</li>
<li>Full accounting software include all the features of sabzi Mandi software along with the financial accounting have different module.</li>
</ul>
    </div>
  </div>
</div>
