<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey"><br>
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
     
      <p><span class="glyphicon glyphicon-map-marker"></span> {{province}}, CANADA</p>
      <p><span class="glyphicon glyphicon-phone"></span> <a href="tel:{{tel}}">{{tel}}</a></p>
      <p><span class="glyphicon glyphicon-envelope"></span> avneet_kochhar0173@hotmail.com</p>
<!-- <p><span class="glyphicon glyphicon-earphone"></span>gurvinderptk</p> -->
    </div>
    <div class="col-sm-7 slideanim iframContainer" >
    
      <iframe id="myiframe" scrolling="no" width="100%" height="315" src="https://singhavneet.000webhostapp.com/" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

