   

<div  id="ngDiv">
    <div  class="about-image bg" ></div>
    <div  class="container about">
      
      <div class="row">
        
        <div class="col-sm-12">   
          <div class="carousel-container">
            <h2 class="text-center">Hi!</h2>
            <ul class="carousel my-carousel">
              <input class="carousel__activator" type="radio" id="A" name="activator" checked="checked"/>
              <input class="carousel__activator" type="radio" id="B" name="activator"/>
              <input class="carousel__activator" type="radio" id="C" name="activator"/>

              <div class="carousel__controls">
                <label class="carousel__control carousel__control--backward" for="C"></label>
                <label class="carousel__control carousel__control--forward" for="B"></label>
              </div>
              <div class="carousel__controls">
                <label class="carousel__control carousel__control--backward" for="A"></label>
                <label class="carousel__control carousel__control--forward" for="C"></label>
              </div>

              <div class="carousel__controls">
                <label class="carousel__control carousel__control--backward" for="B"></label>
                <label class="carousel__control carousel__control--forward" for="A"></label>
              </div>
              <li class="carousel__slide">        
                <div class="bullet">Hi, I'm Avneet! Application Developer & Data Streaming Enthusiast. I love pixel art, paintings and volley ball. </div>
                <div class="bullet"> I live in Canada. Optimistic and eager to learn, I'm always seeking for challenges. </div>
                <div class="bullet">  Read out more <b class="link" routerLink="/testimonial">About me.</b>             
                </div>
              
              </li>
              <li class="carousel__slide">         
                <div class="bullet">You're looking to explore about Kafka, Real Time Analytics ,SQL CDC, 2D Game and more... </div>              
                <div class="bullet">You're also looking across browsers web components to deliver high-quality user experience.</div>    
                  <div class="bullet"> Check <b class="link" routerLink="/tutorials">Explore</b> to list everything.</div>         
              </li>
              <li class="carousel__slide">
                
            <div class="bullet">Feel free to read <b class="link" routerLink="/testimonial">About Me!</b></div>
            <div class="bullet">If you think I am a good fit to join your team, I would be honored. <b class="link" routerLink="/contact">Reach Me</b></div>    
              </li>
            
              <div class="carousel__indicators">
                <label class="carousel__indicator" for="A"></label>
                <label class="carousel__indicator" for="B"></label>
                <label class="carousel__indicator" for="C"></label>        
              </div>
            </ul>
          </div>



        </div>

      </div>

    </div>
</div>