<!-- Container Testimonials Section) -->
<div id="Testimonials" class="container-fluid text-center ">
    <h2>My Work Samples</h2>



    <div class="testimonialContainer">
        <div class="row">
            <div class="col-md-12">
                <div class="tab" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" [ngClass]="{active: workItem==='images'}"><a
                                (click)="onClickWorkFile('images')" aria-controls="images" role="tab"
                                data-toggle="tab">Samples</a></li>

                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content tabs" style="padding:0">
                        <div role="tabpanel" class="tab-pane fade " [ngClass]="{'active in' : workItem==='images'}">
                            <br>
                            <!-- <div  class=""> -->

                            <div class=" col-md-3 col-sm-12 col-xs-12">
                                <!-- required for floating -->
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs sampleTabs tabs-left">
                                    <li class=" col-md-12  " *ngFor="let item of items,let i=index"
                                        [ngClass]="{active: graphItem == item.app[0].name}">
                                        <a class="tabClass" (click)="onSelect(item.app[0].name)">{{item.app[0].name}}
                                        </a></li>
                                </ul>
                            </div>

                            <div class="col-md-7 col-sm-12 col-xs-12">
                                <!-- Tab panes -->
                                <div>
                                    <app-slides (indexEmitter)="instantiateIndex($event)"
                                        [model]="items[choosenItem].app"></app-slides>                        


                                </div>
                                <a class="blink_me" href="{{ items[choosenItem].app[index].url}}">link</a>
                                <h4>This slide show is a perfect example of using angular tools and see
                                    <strong>HOW</strong></h4>

                                <p>A single child component is being shared by all the {{items.length}} project tabs.
                                </p>
                                <p>Structural directives manipulating HTML layout.</p>
                                <p>"ng-container" plays a role to group image elements using NgIf, NgFor built-in
                                    directives.</p>

                                <p>Custom structural directive use to perform click events. </p>
                                <p>Property binding to give the parent control over the child component.</p>
                                <p>@Input decorator to make the property available for binding by the child component.
                                </p>


                            </div>

                            <div class="clearfix"></div>
                            <!-- </div>   -->


                        </div>
              
                    </div>
                </div>
            </div>
        </div>


    </div>