

  <title>{{title}}</title>

       
  <app-header (tabEmmiter)="onNavigate($event)"></app-header>

<app-about *ngIf="tabSelected ==='about'"></app-about>
<app-tutorials *ngIf="tabSelected ==='tutorial'"></app-tutorials>
<app-testimonial *ngIf="tabSelected ==='testimonial'"></app-testimonial>
<app-support *ngIf="tabSelected ==='support'"></app-support>
<app-contact *ngIf="tabSelected ==='contact'"></app-contact>

<footer class="navbar-fixed-bottom text-center">
 <!--href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>-->
  <p>{{title}}</p>
</footer>




