

  <title>{{title}}</title>
  <div  id="test" >
    
  <app-header (tabSelected)="onNavigate($event)"></app-header>
  <div id="bodyDiv" (click)="onClickbody()" >
  <!-- <router-outlet ></router-outlet> -->

<app-about *ngIf="tabSelected ==='about'"></app-about>
<app-tutorials *ngIf="tabSelected ==='tutorials'"></app-tutorials>
<app-testimonial *ngIf="tabSelected ==='testimonial'"></app-testimonial>

<app-contact *ngIf="tabSelected ==='contact'"></app-contact>
</div>
<footer class="navbar-fixed-bottom text-center">
 <!--href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>-->
  <p>{{author}} </p>
</footer>
</div>




