<div  id="ngDiv" >
    <div class=" about-image bg"> </div>  
    <div  class="container about">
            <div class="row">                            
                <div class="col-sm-12 " >                  
                            <h2 class="text-center">Hi!</h2>
                            <div class="text-center">Hi, I am grateful to you for being here even if I’m sure that there are better and more important things you can do.</div> 
                           <br>
                            <div class="row box" >  
                                <div class="col-sm-12 " >                               
                                    <div class=" image"  ></div>
                                  <div>Hello, It's Avneet from Canada!</div>
                                  I appreciate art, photography, painting, cooking and discovering new world and culture. 
                                  I love clean, slick, distributed architecture and open source technologies.
                                  You have to be insane when you’re writing anything, right? 
                                  If you are reading this page to you I’m saying the most honest and from the bottom of my heart  <q><b>Thank you</b></q>.
                               
                                </div>
                            </div>                          
         
                            <div class="quote">
                            <i>when we are optimistic, we tend to be more creative, when we create, we become more than the sum of our parts
                                and that leads us to be more innovative </i><span>-Yanni Chryssomallis</span>
                            </div> 
                </div>
           </div>
    </div>


    <div class=" highlight">
        <div  class="container">
            <div class="row "> 
                <div class="col-sm-12 " >   
            
                I’m really proud of all the different things I’ve accomplished. I started with CSR position and have worked my way up till I got executive assistants position.
                 I left my job and then, ever since I enrolled myself in software engineering diploma course, I have been working as a <b>Application Developer</b>, doing Front-end (Angular), Back-end (Java, .NET, JS) and then Data Engineering (Kafka).
                    It's fun and enjoyable. I feel like I’ve grown more with my current work, and I’m always looking forward for new the opportunities. At present I'm focussed on building and transforming Infrastructure space.
                    Read more about   <a routerLink="/contact"> <b style="color:white">how I work</b>    </a>     and checkout my <b>LinkedIn</b>.
                </div>
            </div>
        </div>
    </div>










    <app-ask></app-ask>

 




</div>