
@import '../variable.scss'; 
.image{
  background-image: url($--img-url+'/explore/avneet/ico.jpg');
  height: 38px;
    width: 38px;
    border-radius: 50%;
    display: inline-block;
    background-repeat: no-repeat;
    flex-basis: auto;
    background-size: 37px;
}


.box{
padding:1em;
margin: 1em;
border:1px solid $--grey;

@media only screen and (min-width: $--minpad) {  
  margin: 0;
}
}


.quote{
  border-radius: 25px;
  border-left: 4px solid;
  border-right:4px solid;
    padding: 2em;
    margin:4em 0;
     i,span{
         color: $--grey;
     }
}

.highlight{
  background-color:$--main-bg-color ;
  color: white;
  margin-bottom:4em;
  padding-bottom: 2em; 
  text-align: justify;
}

.bg{ 
  background-image: url($--img-url+'/explore/avneet/green/me.jpg');
}

