<div  id="ngDiv">
  <div class=" about-image bg" > </div>  
  <div  class="container about">
 

          

          <div class="row explore">          
            <div class="col-sm-12 about-article " >              
                <h2>WHO'S MOST IMPORTANT, CEO OR SEO?</h2>
                <p>March 06, 2021</p>
                <hr>
                <p>
                  How we deliver content to our users really matters. We make sure that using web components on our sites and apps wouldn’t negatively 
                  impact the SEO performance of our pages. In order to experiment this, I built quite heavy micro frontend component, that uses core Angular Elements feature and 
                  you can have a look at the final running application’s performance yourself.
                </p>           
                  In this session, We will walk through the following:
                  <ul>                   
                    <li>Create custom element</li>
                    <li>Embedded Reusable element in your web app</li>     
                    <li>Play Games</li>              
                  </ul>
                  
                   <hr>
                   <h2>Summary</h2>
                   <ul>
                     <li>Case Study</li>
                     <li>Prerequisite</li>
                     <li>Technologies</li>
                     <li>Demo</li>
                     <li>Micro Apps as Web Components with Angular Elements</li>
                     <li>Communication between Micro Apps</li>
                     <li>Dynamically Loading Micro Apps</li>
                     <li>Evaluation</li>                    
                   </ul>
                  
                   <hr>
                   <h2>Case Study</h2>
                  <p>Regardless of programming language, experts from development teams builds various different micro frontend web components 
                    . Once they commit/push any change in Git, the CI/CD pipeline
                     re-deploy docker pods in container-orchestration. On the other hand our's shell web app dynamically 
                     download those components from kubernetes and render it during runtime. 
                     Moreover, the shell and Kafka-Rest api takes care about routing between the components and allows them 
                    to inter-communicate with each other using message passing stream (Kafka) and websockets.
                  </p>
                  <div style="padding:5em">
                    <img src="http://localhost:4201/explore/avneet/web/web.svg" alt="solution archietect" width="100%" >
                  </div>
                  
                  <hr>
                  <h2>Prerequisite</h2>
                  <h5>Node</h5>
                  <p>Download the <a class="link" href="https://nodejs.org/en/download/">Node.js</a> source 
                    code or a pre-built installer for your platform
                  </p>

                  <hr>
                  <h2>Technologies</h2>
                  <h5>Node</h5>
                  <p>
                    <b>Node.js</b> is an open-source, cross-platform, back-end JavaScript runtime environment that runs on the V8 engine and executes.       
                  </p>
                  <h5>Kubernetes</h5>
                  <p>
                  <b>Kubernetes</b> is an open-source container-orchestration system for automating computer application deployment, scaling, and management.
                  </p>
                  <h5>Angular</h5>
                  <p>
                  <b>Angular</b> is a TypeScript-based open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations. 
                  It is a complete rewrite from the same team that built AngularJS.
                  </p>
                  <h5>WebSockets</h5>
                  <p>
                    <b>WebSocket</b> is a computer communications protocol, providing full-duplex communication channels over a single TCP connection
                  </p>
                  <hr>
                  <h2>Demo</h2>
              <div id="game"></div>
                
            </div>
        </div>
  
  
  
  
  </div>
</div>
                      


<!-- https://www.angulararchitects.io/aktuelles/micro-apps-with-web-components-using-angular-elements/ -->