
<!-- Container (Tutorials Section) -->
<div id="Tutorials" class="container-fluid text-center">
    <h2>MY KNOWLEDGE LEVEL IN SOFTWARE</h2> 
  

 
  <div class="container">
       
      <div class="progress">
        <div class="progress-bar progress-hmlcss" role="progressbar"  style=" animation: progress-hmlcss 5s 1 forwards;">
          HTML & CSS 
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-jquery" role="progressbar" style=" animation: progress-jquery 5s 1 forwards;">
          JQuery/Javascript
        </div>
      </div>
      <div class="progress">
          <div class="progress-bar progress-java" role="progressbar" style=" animation: progress-java 5s 1 forwards;">
          Java
          </div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-sql" role="progressbar" style=" animation: progress-sql 5s 1 forwards;">
              SQL
            </div>
          </div>
          <div class="progress">
              <div class="progress-bar progress-csharp" role="progressbar" style=" animation: progress-csharp 5s 1 forwards;">
                C#
              </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-type" role="progressbar" style=" animation: progress-type 5s 1 forwards;">
                  Typescript
                </div>
              </div>
              <div class="progress">
                  <div class="progress-bar progress-sql" role="progressbar" style=" animation: progress-sql 5s 1 forwards;">
                    Angular
                  </div>
                </div>
    </div>
</div>

