$--main-bg-color: #565656;//SCSS variable     2d7e91 8e9aaf 457b9d
$--maxpad:1200px;
$--minpad:992px;
$--grey:#6c757d;
$--img-url:"http://localhost:4201";
$--link-color:#2D7E91;
$--match-color:#CCEFD9

    